# Ex. 1

In [1]:
from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

In [2]:
from sqlalchemy import create_engine, MetaData, Table

print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'film', 'customer', 'inventory']

In [41]:
metadata = MetaData()
table_name = 'staff'
staff = Table(table_name, metadata , autoload=True, autoload_with=db)

print(repr(table))
print(table.columns.keys())

Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000023B52CB8088>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000023B52CB7848>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000023B52C47F88>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)
['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

# Ex. 2

Relationship between `staff` and `country`:
- `staff` and `address` by `address_id`
- `address` and `city` by `city_id`
- `city` and `country` by `country_id`

Relationship between `actor`, `language` and `film`:
- `film` and `language` by `language_id'

- `film` and `film_actor` by `film_id'
- `film_actor` and `actor` by `actor_id`

# Ex. 3

In [6]:
rental = Table('rental', metadata , autoload=True, autoload_with=db)
inventory = Table('inventory', metadata , autoload=True, autoload_with=db)

inventory_id = db.execute(select([rental.c.inventory_id])).fetchall() #inv_id z rentala
just_inventory_id = [inv.inventory_id for inv in inventory_id] 


stmt = select([inventory.c.film_id]).where(inventory.columns.inventory_id.in_(just_inventory_id)) #film_id z inventory

film_id = db.execute(stmt).fetchall()
just_film_id = [film.film_id for film in film_id]
just_film_id = list(set(just_film_id)) 

#print(just_film_id)

In [44]:
film_category = Table('film_category', metadata , autoload=True, autoload_with=db)

stmt1 = select([film_category.c.category_id]).where(film_category.columns.film_id.in_(just_film_id))
category_id = db.execute(stmt1).fetchall() #category_id z film_category
just_category_id = [cat.category_id for cat in category_id]
just_category_id = list(set(just_category_id))

len(just_category_id)

16

<b> 16 film categories in rental </b>

# Ex. 4

In [8]:
category = Table('category', metadata , autoload=True, autoload_with=db)

stmt = select([category.c.name])
name = db.execute(stmt).fetchmany(2)

print(name)

[('Action',), ('Animation',)]

# Ex. 5

In [36]:
from sqlalchemy import desc

film = Table('film', metadata , autoload=True, autoload_with=db)
release_year = db.execute(select([film.c.release_year]).order_by(desc(film.c.release_year))).fetchall()
#print(release_year)

<b>All films in rental are of the same age </b>

# Ex. 6

In [35]:
actor = Table('actor', metadata , autoload=True, autoload_with=db)

stmt = select([actor]).where(actor.columns.first_name.in_(['Olympia', 'Julia', 'Ellen']))
film_id = db.execute(stmt).fetchall()


for result in film_id:
    print(result.last_name, result.first_name)

Mcqueen Julia
Barrymore Julia
Presley Ellen
Pfeiffer Olympia
Zellweger Julia
Fawcett Julia