In [4]:
from sqlalchemy import create_engine

db_string = "postgres://postgres:sql@localhost/dvdrental"

db = create_engine(db_string)

In [154]:
from sqlalchemy import or_, and_

# Ex.1

In [155]:
%%time

mapper_stmt = select([dic_table['category'].columns.name])

categories = db.execute(mapper_stmt).fetchall()
#print(mapper_results)

print('There are '+str(len(categories))+' categories')

There are 16 categories
Wall time: 10.1 ms

# Ex.2

In [156]:
%%time

mapper_stmt = select([dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name)

categories = db.execute(mapper_stmt).fetchall()
print(categories)

[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]
Wall time: 5.04 ms

# Ex.3

In [159]:
%%time

mapper_stmt = select([dic_table['film'].columns.title]).order_by(dic_table['film'].columns.release_year.desc()).limit(1)
newest = db.execute(mapper_stmt).fetchall()

mapper_stmt = select([dic_table['film'].columns.title]).order_by(dic_table['film'].columns.release_year).limit(1)
oldest = db.execute(mapper_stmt).fetchall()

print(oldest,newest)

mapper_stmt = select([dic_table['film'].columns.release_year])
release_years = db.execute(mapper_stmt).fetchall()
release_years = [year.release_year for year in release_years]
release_years = list(set(release_years)) 
print(release_years)

print('All movies are of the same age')

[('Chamber Italian',)] [('Chamber Italian',)]
[2006]
All movies are of the same age
Wall time: 10.2 ms

# Ex.4

In [ ]:
import datetime

In [164]:
%%time

d1 = datetime.datetime(2005, 7, 1) 
d2 = datetime.datetime(2005, 8, 1) 

mapper_stmt = select([dic_table['rental'].columns.rental_date]).\
where(and_((dic_table['rental'].columns.rental_date < d2),(dic_table['rental'].columns.rental_date > d1)))

mapper_results = db.execute(mapper_stmt).fetchall()

print('Number of rentals between selected dates: '+ str(len(mapper_results)))

Number of rentals between selected dates: 6709
Wall time: 20 ms

# Ex.5

In [67]:
%%time

d1 = datetime.datetime(2010, 1, 1) 
d2 = datetime.datetime(2011, 2, 1) 

mapper_stmt = select([dic_table['rental'].columns.rental_date]).\
where(and_((dic_table['rental'].columns.rental_date < d2),(dic_table['rental'].columns.rental_date > d1)))

mapper_results = db.execute(mapper_stmt).fetchall()

print('Number of rentals between selected dates: '+ str(len(mapper_results)))

Number of rentals between selected dates: 0

# Ex.6

In [165]:
%%time

mapper_stmt = select([dic_table['payment'].columns.amount]).order_by(dic_table['payment'].columns.amount.desc()).limit(1)
biggest_payment = db.execute(mapper_stmt).fetchall()
print(biggest_payment)

[(Decimal('11.99'),)]
Wall time: 10.1 ms

# Ex.7

In [ ]:
from sqlalchemy import join

In [174]:
%%time
%%prun
cities = dic_table['country'].join(dic_table['city'], dic_table['country'].columns.country_id == dic_table['city'].columns.country_id)
addresses = cities.join(dic_table['address'], dic_table['address'].columns.city_id == dic_table['city'].columns.city_id)
customers = addresses.join(dic_table['customer'], dic_table['customer'].columns.address_id == dic_table['address'].columns.address_id)

mapper_stmt = select([dic_table['customer'].columns.first_name, dic_table['customer'].columns.last_name, dic_table['country'].columns.country]).select_from(customers).\
where(or_((dic_table['country'].columns.country == 'Poland'),(dic_table['country'].columns.country == 'Bangladesh'),(dic_table['country'].columns.country == 'Nigeria')))

mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Sonia', 'Gregory', 'Nigeria'), ('Brian', 'Wyman', 'Poland'), ('Sidney', 'Burleson', 'Poland'), ('Rodney', 'Moeller', 'Nigeria'), ('Stephen', 'Qualls', 'Bangladesh'), ('Velma', 'Lucas', 'Nigeria'), ('Marilyn', 'Ross', 'Nigeria'), ('Elsie', 'Kelley', 'Nigeria'), ('Gladys', 'Hamilton', 'Nigeria'), ('Frank', 'Waggoner', 'Bangladesh'), ('Marjorie', 'Tucker', 'Poland'), ('Carol', 'Garcia', 'Nigeria'), ('Leah', 'Curtis', 'Poland'), ('Ruben', 'Geary', 'Poland'), ('Olga', 'Jimenez', 'Nigeria'), ('Bertha', 'Ferguson', 'Nigeria'), ('Tracey', 'Barrett', 'Nigeria'), ('Jo', 'Fowler', 'Nigeria'), ('Johnnie', 'Chisholm', 'Poland'), ('Wallace', 'Slone', 'Nigeria'), ('Michelle', 'Clark', 'Bangladesh'), ('Russell', 'Brinson', 'Poland'), ('Jimmie', 'Eggleston', 'Poland'), ('Constance', 'Reid', 'Nigeria')]
 Wall time: 20 ms

# Ex.8

In [175]:
%%time
%%prun

staff = addresses.join(dic_table['staff'], dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id)

mapper_stmt = select([dic_table['staff'].columns.first_name, dic_table['staff'].columns.last_name, dic_table['country'].columns.country]).select_from(staff)
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Mike', 'Hillyer', 'Canada'), ('Jon', 'Stephens', 'Australia')]
 Wall time: 9.96 ms

# Ex.9

In [176]:
%%time
%%prun

mapper_stmt = select([dic_table['staff'].columns.first_name, dic_table['staff'].columns.last_name, dic_table['country'].columns.country]).select_from(staff).\
where(or_((dic_table['country'].columns.country == 'Argentina '),(dic_table['country'].columns.country == 'Spain')))

mapper_results = db.execute(mapper_stmt).fetchall()
print('Number of staff members from Sapin or Argentina: '+ str(len(mapper_results)))

Number of staff members from Sapin or Argentina: 0
 Wall time: 20.2 ms

# Ex.10

In [173]:
%%time # with in_ it's so much slower than with join
%%prun

inventory_id = db.execute(select([dic_table['inventory'].columns.inventory_id])).fetchall() #inv_id z rental
just_inventory_id = [inv.inventory_id for inv in inventory_id] 

stmt = select([dic_table['inventory'].columns.film_id]).where(dic_table['inventory'].columns.inventory_id.in_(just_inventory_id)) 
film_id = db.execute(stmt).fetchall()#film_id z inventory
just_film_id = [film.film_id for film in film_id]
just_film_id = list(set(just_film_id)) 

stmt1 = select([dic_table['film_category'].columns.category_id]).where(dic_table['film_category'].columns.film_id.in_(just_film_id))
category_id = db.execute(stmt1).fetchall() #category_id z film_category
just_category_id = [cat.category_id for cat in category_id]
just_category_id = list(set(just_category_id))

stmt2 = select([dic_table['category'].columns.name]).where(dic_table['category'].columns.category_id.in_(just_category_id))
categories = db.execute(stmt2).fetchall() #category 


print(categories)

[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]
 Wall time: 260 ms

# Ex.11

In [178]:
%%time
%%prun

rentals = customers.join(dic_table['rental'], dic_table['rental'].columns.customer_id == dic_table['customer'].columns.customer_id)
inventories = rentals.join(dic_table['inventory'], dic_table['inventory'].columns.inventory_id == dic_table['rental'].columns.inventory_id)
film_categories = inventories.join(dic_table['film_category'], dic_table['film_category'].columns.film_id == dic_table['inventory'].columns.film_id)
categories = film_categories.join(dic_table['category'], dic_table['category'].columns.category_id == dic_table['film_category'].columns.category_id)


mapper_stmt = select([dic_table['category'].columns.name]).select_from(categories).\
where((dic_table['country'].columns.country == 'United States'))

mapper_results = db.execute(mapper_stmt).fetchall()
#print(mapper_results)
categories_ = db.execute(mapper_stmt).fetchall()
categories_ = [year.name for year in categories_]
categories_ = list(set(categories_)) 
print(categories_)

['Documentary', 'Sci-Fi', 'Drama', 'Comedy', 'Foreign', 'Classics', 'Horror', 'Games', 'Travel', 'New', 'Animation', 'Action', 'Sports', 'Family', 'Music', 'Children']
 Wall time: 40.1 ms

# Ex.12

In [177]:
%%time
%%prun

actors = dic_table['actor'].join(dic_table['film_actor'], dic_table['film_actor'].columns.actor_id == dic_table['actor'].columns.actor_id)
films = actors.join(dic_table['film'], dic_table['film'].columns.film_id == dic_table['film_actor'].columns.film_id)

mapper_stmt = select([dic_table['film'].columns.title]).select_from(films).\
where(or_(\
      and_(dic_table['actor'].columns.first_name == 'Olympia',dic_table['actor'].columns.last_name == 'Pfeiffer'),\
      and_(dic_table['actor'].columns.first_name == 'Julia',dic_table['actor'].columns.last_name == 'Zellweger'),\
      and_(dic_table['actor'].columns.first_name == 'Ellen',dic_table['actor'].columns.last_name == 'Presley')))

mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Bilko Anonymous',), ('Caribbean Liberty',), ('Casper Dragonfly',), ('Empire Malkovich',), ('Floats Garden',), ('Frogmen Breaking',), ('Homeward Cider',), ('Hyde Doctor',), ('Image Princess',), ('Jacket Frisco',), ('Microcosmos Paradise',), ('Network Peak',), ('Oscar Gold',), ('Pickup Driving',), ('Pinocchio Simon',), ('Private Drop',), ('Roots Remember',), ('Scarface Bang',), ('Secretary Rouge',), ('Spy Mile',), ('Streetcar Intentions',), ('Tadpole Park',), ('Treasure Command',), ('Turn Star',), ('Women Dorado',), ('Badman Dawn',), ('Chitty Lock',), ('Color Philadelphia',), ('Contact Anonymous',), ('Deep Crusade',), ('Effect Gladiator',), ('Express Lonely',), ('Firehouse Vietnam',), ('Fugitive Maguire',), ('Hanky October',), ('Ice Crossing',), ('Idols Snatchers',), ('Intolerable Intentions',), ('Magnolia Forrester',), ('Mars Roman',), ('Maude Mod',), ('Murder Antitrust',), ('None Spiking',), ('Others Soup',), ('Psycho Shrunk',), ('Santa Paris',), ('Sense Greek',), ('Storm Happiness',), ('Sweet Brotherhood',), ('Titanic Boondock',), ('Tourist Pelican',), ('Traffic Hobbit',), ('Wait Cider',), ('Breakfast Goldfinger',), ('Cranes Reservoir',), ('Dares Pluto',), ('Detective Vision',), ('Divorce Shining',), ('Hollow Jeopardy',), ('Jeopardy Encino',), ('Lambs Cincinatti',), ('Majestic Floats',), ('Minds Truman',), ('Open African',), ('Outlaw Hanky',), ('Panky Submarine',), ('Rider Caddyshack',), ('Won Dares',), ('Wyoming Storm',)]
 Wall time: 29.8 ms